/*
Theme Name: PickMania
Theme URI: aleverarise@gmail.com
Author: Aleverarise
Author URI: aleverarise@gmail.com
Description: Theme for picks
Requires at least: WordPress 4.9.6
Version: 1.1
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: aleverarise@gmail.com
Tags: Pick, Sport, Casino.

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Twenty Nineteen is based on Underscores https://underscores.me/, (C) 2012-2018 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/

body {
   background-color: #153555;
}


/* HEADER */

header .navbarHeader {
   background-color: #153555 !important;
   justify-content: center;
   align-content: center;
}

header .navbarHeader .dropdown-menu {
   background-color: #153555 !important;
}

header .navbarHeader .dropdown-menu .dropdown-item {
   color: white !important;
}

header .navbarHeader .dropdown-menu .active {
   background-color: #A6C613 !important;
}

header .navbarHeader .dropdown-menu .dropdown-item:hover {
   background-color: #A6C613 !important;
}

header .navbarHeader .dropdown-menu .dropdown-divider {
   border-top: 1px solid #A6C613 !important;
}

header .navbarHeader .navbar-toggler {
   background-color: #153555 !important;
}

header .navbarHeader .nav-link {
   color: white;
}

header .navbarHeader .nav-link:hover {
   color: #A6C613 !important;
}

header .navbarHeader .navbar-nav {
   width: 100%;
   justify-content: center;
}

header .navbarHeader ul li.active>a {
   color: #A6C613 !important;
}

.dropdown:hover .dropdown-menu {
   display: block;
   margin-top: 0;
}

header .navbarHeader .inputSearch {
   background: #A6C613;
   border-color: #A6C613;
   border-radius: 30px;
   color: white;
}

header .navbarHeader #search {
   justify-content: center;
   align-items: center;
   background: #a6c613;
   color: white;
   padding: 7px;
   border-top-right-radius: 50%;
   border-bottom-right-radius: 50%;
   position: relative;
   cursor: pointer;
}


/* PAGE HOME */

.home .contentPage {
   background: white
}

.home .titleSlider {
   font-size: 50px;
}

.home .btnSlider {
   background-color: #A6C613;
   color: white;
   font-size: 22px;
   text-transform: uppercase;
   border-radius: 30px;
}

.home .sectionTopHome .itemRecord h4 {
   background-color: #A6C613;
   color: black;
   text-transform: uppercase;
   padding: 10px;
   margin: 0px;
   font-weight: bold;
}

.bg-dark {
   background-color: black !important;
}


/* PAGE MATCHES */

.matches .matchesItems {
   background-color: #0e233b !important;
}

.matches .itemsBanners {
   background-color: #0e233b !important;
}


/* PAGE BOOKMAKERS */

.bookmakers .matchesItems {
   background-color: #0e233b !important;
}

.bookmakers h4 {
   word-break: break-word;
}

.bookmakers .itemsBanners {
   background-color: #0e233b !important;
}

.bookmakers .tableBookMakers thead {
   background-color: #a6c613;
}

.bookmakers .tableBookMakers tbody .btnSidebarTableRead {
   background-color: #A6C613;
   border-color: #A6C613;
   border-radius: 30px;
   color: white;
}

.bookmakers .tableBookMakers tbody .btnSidebarTableClaim {
   background-color: #EF8000;
   border-color: #EF8000;
   border-radius: 30px;
   color: white;
}


/* PAGE POST */

.postPage .matchesItems {
   background-color: #0e233b !important;
}

.postPage h3 {
   word-break: break-word;
}

.postPage .itemsBanners {
   background-color: #0e233b !important;
}


/* FOOTER */

footer .listFooter {
   list-style: none;
}

footer .footer1 {
   border-bottom: 5px solid #a6c613;
}

footer .providerPays {
   justify-content: center;
}

/* PAGINATION */
span.pages{
   color: white !important;
   padding: 10px;
   margin-right: 10px;
   display: none;
}
span.current{
   color: white;
   background: #a6c613 !important;
   border-color: #a6c613 !important;
   border-radius: 13px;
   padding: 10px;
   margin-left: 10px;
   margin-right: 10px;

}
a.page{
   color: black;
   background: white !important;
   border-color: white !important;
   border-radius: 13px;
   padding: 10px;
   margin-left: 10px;
   margin-right: 10px;
}
a.page:hover{
   color: white;
   background: #a6c613 !important;
   border-color: #a6c613 !important;
}
a.nextpostslink{
   color: white !important;
   padding: 10px;
   margin-left: 10px;
}

a.nextpostslink:hover{
   color: white;
   background: #a6c613 !important;
   border-color: #a6c613 !important;
}
a.previouspostslink{
   color: white !important;
   padding: 10px;
   margin-left: 10px;
}

a.previouspostslink:hover{
   color: white;
   background: #a6c613 !important;
   border-color: #a6c613 !important;
}


