 .formSendPick .inputFormSendPick{
    background: #0E233B !important;
    border-color: #0E233B !important;
    color: white !important;
    border-radius: 10px !important;
}

 .formSendPick .inputFormSendPick::placeholder{
    color: white;
}

 .formSendPick .btn-sendFormPick{
    background: #A6C613;
    border-color: #A6C613;
    color: #0E233B;
    font-size: 12px;
    border-radius: 12px;
    font-weight: bold;
}

 .formSendPick form{
    background-color: #134988;
}

 .btnSidebarTable{
    color: white;
    font-size: 10px;
    background: #ca3b46; /* Old browsers */
    background: -moz-linear-gradient(top, #ca3b46 0%, #822d42 81%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ca3b46 0%,#822d42 81%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ca3b46 0%,#822d42 81%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ca3b46', endColorstr='#822d42',GradientType=0 ); /* IE6-9 */
}

 .tableSidebar caption{
    caption-side: top !important;
}

 .tableSidebar tbody{
    background: white;
}

 .tableSidebar tbody a{
    color: black !important;
}

 .colorBack {
     background: #ca3b46; /* Old browsers */
     background: -moz-linear-gradient(top, #ca3b46 0%, #822d42 81%); /* FF3.6-15 */
     background: -webkit-linear-gradient(top, #ca3b46 0%,#822d42 81%); /* Chrome10-25,Safari5.1-6 */
     background: linear-gradient(to bottom, #ca3b46 0%,#822d42 81%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ca3b46', endColorstr='#822d42',GradientType=0 ); /* IE6-9 */
 }

 .table-responsive {
     background-color:  #212121;
 }

 .marginsRowTab {
     padding-top: 1em;
     padding-left: 1em;
     padding-bottom: 1em;
     font-weight: bold;
     font-size: 12px;
     text-transform: uppercase;
     border-bottom: 5px solid #67B1DE;
     margin-right: 0px;
     margin-left: 0px;
 }

 .navTabsItem {
     color: white !important;
     box-sizing: border-box;
 }

 .textVerticalAlign {
     display: flex;
     justify-content: center;
     align-content: center;
     flex-direction: column;
 }

 .tab-pane active {
     display: block !important;
 }

 .noPadding {
     padding: 0px !important;
 }