.sidebar{
    background-color: #0E233B;
}

.sidebar .formSendPick .inputFormSendPick{
    background: #0E233B !important;
    border-color: #0E233B !important;
    color: white !important;
    border-radius: 10px !important;
}

.sidebar .formSendPick .inputFormSendPick::placeholder{
    color: white;
}

.sidebar .formSendPick .btn-sendFormPick{
    background: #A6C613;
    border-color: #A6C613;
    color: #0E233B;
    font-size: 12px;
    border-radius: 12px;
    font-weight: bold;
}

.sidebar .formSendPick form{
    background-color: #134988;
}

.sidebar .btnSidebarTable{
    background-color: #5FB45D;
    border-color: #5FB45D;
    color: white;
    font-size: 10px;
}

.sidebar .tableSidebar caption{
    caption-side: top !important;
    background: #0C745F;
}

.sidebar .tableSidebar tbody{
    background: white;
}

.sidebar .tableSidebar tbody a{
    color: black;
}