/*
Theme Name: Americashandicapper
Theme URI: deividlock@gmail.com
Author: Aleverarise
Author URI: deividlock@gmail.com
Description: Theme for picks
Requires at least: WordPress 4.9.6
Version: 1.1
License: GNU General Public License v1 or later
License URI: LICENSE
Text Domain: deividlock@gmail.com
Tags: Pick, Sport, Casino.

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Twenty Nineteen is based on Underscores https://underscores.me/, (C) 2012-2018 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/

body {
   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+13,7f7f7f+50,000000+98 */
   background: #000000; /* Old browsers */
   background: -moz-linear-gradient(top, #000000 13%, #7f7f7f 50%, #000000 98%); /* FF3.6-15 */
   background: -webkit-linear-gradient(top, #000000 13%,#7f7f7f 50%,#000000 98%); /* Chrome10-25,Safari5.1-6 */
   background: linear-gradient(to bottom, #000000 13%,#7f7f7f 50%,#000000 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}


/* HEADER */

header .navbarHeader {
   background-color: black !important;
   justify-content: center;
   align-content: center;
}

header .navbarHeader .dropdown-menu {
   background-color: transparent !important;
   border: 0px !important;
}

header .navbarHeader .dropdown-menu .dropdown-item {
   color: white !important;
}

header .navbarHeader .dropdown-menu .active {
   background-color: #397AA7 !important;
}

header .navbarHeader .dropdown-menu .dropdown-item:hover {
   background-color: #397AA7 !important;
}

header .navbarHeader .dropdown-menu .dropdown-divider {
   border-top: 1px solid #397AA7 !important;
}

header .navbarHeader .navbar-toggler {
   background-color: #153555 !important;
}

header .navbarHeader .nav-link {
  color: white;
  font-size: 17px;
}

header .navbarHeader .nav-link:hover {
   color: #9DC4DA !important;
}

header .navbarHeader .navbar-nav {
   width: 100%;
   justify-content: right;
}

header .navbarHeader ul li.active>a {
   color: #83BEE7 !important;
}

.dropdown:hover .dropdown-menu {
   display: block;
   margin-top: 0;
}

header .navbarHeader .inputSearch {
   background: #397AA7;
   border-radius: 30px;
   color: white;
   border: 2px solid white;
}

header .navbarHeader #search {
   justify-content: center;
   align-items: center;
   background: white;
   color: #225078;
   padding: 7px;
   border-top-left-radius: 50%;
   border-bottom-left-radius: 50%;
   position: relative;
   cursor: pointer;
}


/* PAGE HOME */

.home .contentPage {
   background: transparent;
}

.home .titleSlider {
   font-size: 50px;
}

.home .btnSlider {
   background-color: #397AA7;
   color: white;
   font-size: 22px;
   text-transform: uppercase;
   border-radius: 30px;
}

.home .sectionTopHome .itemRecord h4 {
   background-color: #93BBD2;
   color: white;
   text-transform: uppercase;
   padding: 10px;
   margin: 0px;
   font-weight: bold;
   border-bottom: 5px solid #282828;
}

.bg-dark {
   background-color: black !important;
}


/* PAGE MATCHES */

.matches .matchesItems {
   background-color: #0e233b !important;
}

.matches .itemsBanners {
   background-color: #0e233b !important;
}


/* PAGE BOOKMAKERS */

.bookmakers .matchesItems {
   background-color: #0e233b !important;
}

.bookmakers h4 {
   word-break: break-word;
}

.bookmakers .itemsBanners {
   background-color: #0e233b !important;
}

.bookmakers .tableBookMakers thead {
   background-color: #397AA7;
}

.bookmakers .tableBookMakers tbody .btnSidebarTableRead {
   background-color: #397AA7;
   border-color: #397AA7;
   border-radius: 30px;
   color: white;
}

.bookmakers .tableBookMakers tbody .btnSidebarTableClaim {
   background-color: #EF8000;
   border-color: #EF8000;
   border-radius: 30px;
   color: white;
}


/* PAGE POST */

.postPage .matchesItems {
   background-color: #0e233b !important;
}

.postPage h3 {
   word-break: break-word;
}

.postPage .itemsBanners {
   background-color: #0e233b !important;
}


/* FOOTER */

footer .listFooter {
   list-style: none;
}

footer .footer1 {
   border-bottom: 5px solid #93B8CB;
}

footer .providerPays {
   padding: 2% !important;
}

/* PAGINATION */
span.pages{
   color: white !important;
   padding: 10px;
   margin-right: 10px;
   display: none;
}
span.current{
   color: white;
   background: #397AA7 !important;
   border-color: #397AA7 !important;
   border-radius: 13px;
   padding: 10px;
   margin-left: 10px;
   margin-right: 10px;

}
a.page{
   color: black;
   background: white !important;
   border-color: white !important;
   border-radius: 13px;
   padding: 10px;
   margin-left: 10px;
   margin-right: 10px;
}
a.page:hover{
   color: white;
   background: #397AA7 !important;
   border-color: #397AA7 !important;
}
a.nextpostslink{
   color: white !important;
   padding: 10px;
   margin-left: 10px;
}

a.nextpostslink:hover{
   color: white;
   background: #397AA7 !important;
   border-color: #397AA7 !important;
}
a.previouspostslink{
   color: white !important;
   padding: 10px;
   margin-left: 10px;
}

a.previouspostslink:hover{
   color: white;
   background: #397AA7 !important;
   border-color: #397AA7 !important;
}

.no-image {
   background-color: white;
   width: 60% !important;
   height: 100px !important;
   border: 0 !important;
}

line {
   width: 250px;
   height: 100px;
   border: 3px solid #555;
   background: #428bca;
}

header {
   border-bottom: 5px solid #93B8CB;
}

footer .center-group {
   justify-content: center;
}

.nav-item {
   background-color: #397AA7 !important;
   margin: 0px;
   padding: 0px;
   border-left: 4px solid #1E415A;
}

.logo {
   margin-top: -20px;
}

.login {
   color: white !important;
   top:25px;
   font-size: 22px;
   margin-left: .2em !important;
}

.lineLogin {
   justify-content: right !important;
   padding-right: 1.5em !important;
}

.icon-login {
   padding-top: .2em;
  font-size: 20px;
}

.login-content {
   z-index: 2;
   position: relative;
   justify-content: right !important;
   margin-top: -2% !important;
}

.row-nav {
   width: 100% !important;
}

.search-nav {
   background-color: #397AA7;
   padding-left: 2%;
   padding-top: .5em;
}

.dropdown-item {
   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#387aa6+0,1c4269+100 */
   background: #387aa6; /* Old browsers */
   background: -moz-linear-gradient(top, #387aa6 0%, #1c4269 100%); /* FF3.6-15 */
   background: -webkit-linear-gradient(top, #387aa6 0%,#1c4269 100%); /* Chrome10-25,Safari5.1-6 */
   background: linear-gradient(to bottom, #387aa6 0%,#1c4269 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#387aa6', endColorstr='#1c4269',GradientType=0 ); /* IE6-9 */
}

.dropdown-item:hover {
   font-weight: bold;
}

.dropdown-menu div {
   border: 4px solid #9CC3D8 !important;
}

.logoImage {
   width: 340px;
}

@media screen and (min-width: 1367px) {

   .nav-link {
      font-size: 14px !important;
   }

   .logoImage {
      margin-left: 2% !important;
      width: 79% !important;
      height: auto;
   }

   #navbarSupportedContent {
      width: 100% !important;
      justify-content: right !important;
   }

   .inputSearch {
     min-width: 1.5em !important;
   }

   .nav-item {
      width: 60% !important;
      text-align: center;
      font-size: 14px !important;
      height: 70px !important;
      display: flex;
      justify-content: center;
      align-content: center;
      flex-direction: column;
   }

   .search-nav {
      width: 100% !important;
   }

   .fontExpertPicks {
      font-size: 2rem !important;
      padding: .2em;
   }
}

@media screen and (max-width: 1366px) {

   .nav-link {
      font-size: 14px !important;
   }

   .logoImage {
      margin-left: 1.8em !important;
      width: 140px !important;
      height: auto;
   }

   .buttonCasino {
      width: 130px !important;
   }

   .fontExpertPicks {
      font-size: 0.9rem !important;
      padding: .2em;
   }

   .fontExpertPicks {
      font-size: 2rem !important;
      padding: .2em;
   }
}

/* iPad fix*/
@media screen and (max-width: 800px) {
   .search-nav {
      padding-left: 0%;
   }

   .login-content {
      z-index: 4 !important;
      text-align: center;
      margin-bottom: 2% !important;
   }

   .navbar {
      padding-top: 3% !important;
      font-size:12px !important;
   }

   .providerPays {
      width: 60% !important;
      margin-left: 2%;

   }

   .providerPays img {
      width: 170% !important;
   }

   .itemTab {
      border-left: none !important;
   }

   .lineLogin {
      justify-content: center !important;
      margin-bottom: 1% !important;
   }

   .columnWeather {
      padding-bottom: .5em !important;
   }

   .textAlign {
      text-align: left !important;
   }

   .imgLogin {
      width: 70% !important;
      height: auto;
   }

   .separate {
      padding-top: 1em;
   }

   .sidebar-list {
      padding-left: 0px !important;
      padding-right: 0px !important;
   }

   .marginLeft {
      padding-left: 1em !important;
   }

   .logoPay {
      width: 200px !important;
   }

   .paddingContainerWeather {
      padding: .5em !important;
      vertical-align: middle;
   }

   .imageWeatherTop {
      height: 100% !important;
   }

   .paddingContainerLogin {
      padding: 0em !important;
   }

   .container-section-login {
      width: 90% !important;
   }

   .imgLogin {
      width: 180px !important;
      height: auto;
   }

   .no-image {
      text-align: center !important;
      background-color: white;
      width: 90% !important;
      height: 100px !important;
      border: 0 !important;
   }

   .iconSocial {
      width: 60px !important;
      height: auto;
   }

   .paddingCardTop {
     margin-left: none !important;
   }

   .fontExpertPicks {
      font-size: 2rem !important;
      padding: .2em;
   }
}

@media screen and (max-width: 440px) {
   .search-nav {
      padding-left: 0%;
   }

   .contentLogin {
      justify-content: center !important;
      padding-right: 4em !important;
   }

   .login-content {
      z-index: 4;
      position: relative;
      padding: 4% !important;
      alignment: center;
   }

   .navbar {
      padding-top: 7% !important;
   }

   .providerPays {
      width: 60% !important;
      margin-left: 2%;
      padding: 0% !important;
   }

   .columnWeather {
      padding-bottom: 1em !important;
   }

   .textAlign {
      text-align: left !important;
   }

   .imgLogin {
      width: 180px !important;
      height: auto;
   }

   .separate {
      padding-top: 1em;
   }

   .sidebar-list {
      padding-left: 0px !important;
      padding-right: 0px !important;
   }

   .marginLeft {
      padding-left: 1em !important;
   }

   .logoPay {
      width: 200px !important;
   }

   .paddingContainerWeather {
      padding: .5em !important;
      vertical-align: middle;
   }

   .imageWeatherTop {
      height: 100% !important;
   }

   .paddingContainerLogin {
      padding: 0em !important;
   }

   .contentCenter {
      text-align: center!important;
   }

   img {
      width: 60% !important;
      height: auto !important;
   }

   .container-section-login {
      width: 90% !important;
   }

   .no-image {
      text-align: center !important;
      background-color: white;
      width: 90% !important;
      height: 100px !important;
      border: 0 !important;
   }

   .iconSocial {
      width: 60px !important;
      height: auto;
   }

   .imageLogoCasino {
      width: 100% !important;
      height: auto;
   }

   .paddingCardTop {
      margin-left: 0px !important;
   }

   .buttonCasino {
      width: 150px !important;
   }

   .fontExpertPicks {
      font-size: 2rem !important;
      padding: .2em;
   }
}

@media screen and (max-width: 375px) {

   .contentLogin {
      justify-content: center; !important;
      padding-right: 4em !important;
   }

   .logoImage {
      width: 180px !important;
   }

   .contentCenter {
      text-align: center!important;
   }

   img {
      width: 60% !important;
      height: auto !important;
   }

   .container-section-login {
      width: 90% !important;
   }

   .no-image {
      text-align: center !important;
      background-color: white;
      width: 90% !important;
      height: 100px !important;
      border: 0 !important;
   }

   .iconSocial {
      width: 50px !important;
      height: auto;
   }

   .imageLogoCasino {
      width: 100% !important;
      height: auto;
   }

   .paddingCardTop {
      margin-left: 0px !important;
   }

}

@media screen and (max-width: 320px) {
   .logoImage {
      width: 150px !important;
   }

   .contentLogin {
      justify-content: center !important;
      padding-right: 2em !important;
   }

   .container-section-login {
      width: 90% !important;
   }

   .no-image {
      text-align: center !important;
      background-color: white;
      width: 100% !important;
      height: 100px !important;
      border: 0 !important;
   }

   .imageLogoCasino {
      width: 100% !important;
      height: auto;
   }

   .paddingCardTop {
      margin-left: 0px !important;
   }

}

.container-section {
   width: 85% !important;
   justify-content: center; !important;
}

.navbar-expand-lg .navbar-nav .nav-link {

   padding-right: 1.5em;
   padding-left: 1.5em;

}

.pageCentral {
   margin-left: 30% !important;
   box-sizing: border-box
}

.image {
   width: 100% !important;
   height: auto !important;
}

.sectionImage {
   box-sizing: border-box;
}

.textMargin {
   padding-left: .5em;
   min-height: 30px;
   display: flex;
   justify-content: center;
}

.itemRecordSecond {
   background-color: #5F737F !important;
   color: white;
   text-transform: uppercase;
   margin: 0px;
   font-weight: bold;
   text-align: left;
}

.itemRecordContent {
   background-color: #282828;
   color:white;
}

.itemContent {
   border-bottom: 5px solid #4C4B4B;
   margin-left: 0;
   margin-right: 0;
}

.buttonMore {
   background-color: #5F737F !important;
   color: white;
   text-transform: uppercase;
   padding-left: 2.5em;
   padding-right: 2.5em;
   padding-top: .5em;
   padding-bottom: .5em;
   font-size: 20px;
}

.paddingHome {
   padding-top: 5.5em;
}

.buttonMore:hover {
   color: #9DC4DA;
   text-decoration: none;
}

.fixed-top {
   width: 100%;
   height: 170px;
}

.nav-tabs {
   border-bottom: 0px;
}

.itemTab a {
   text-decoration: none !important;
}

 a:hover {
   color: #9DC4DA !important;
}

.itemTab {
   margin: 0px;
   padding: 1.2em;
   border-left: 3px solid #1E415A;
   font-weight: bold;
}

.colorTab {
   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#336ea5+0,134972+100 */
   background: #336ea5; /* Old browsers */
   background: -moz-linear-gradient(top, #336ea5 0%, #134972 100%); /* FF3.6-15 */
   background: -webkit-linear-gradient(top, #336ea5 0%,#134972 100%); /* Chrome10-25,Safari5.1-6 */
   background: linear-gradient(to bottom, #336ea5 0%,#134972 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#336ea5', endColorstr='#134972',GradientType=0 ); /* IE6-9 */
}

a {
   color: white !important;
}

.backTab {
   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5e7af1+0,054786+100 */
   background: #5e7af1; /* Old browsers */
   background: -moz-linear-gradient(top, #5e7af1 0%, #054786 100%); /* FF3.6-15 */
   background: -webkit-linear-gradient(top, #5e7af1 0%,#054786 100%); /* Chrome10-25,Safari5.1-6 */
   background: linear-gradient(to bottom, #5e7af1 0%,#054786 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e7af1', endColorstr='#054786',GradientType=0 );
}

.itemLine {
   border-bottom: 20px solid #212121;
   margin-left: 0;
   margin-right: 0;
}


.colorBarGeneral{
   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8c2f42+0,c33a46+100 */
   background: #8c2f42; /* Old browsers */
   background: -moz-linear-gradient(top, #8c2f42 0%, #c33a46 100%); /* FF3.6-15 */
   background: -webkit-linear-gradient(top, #8c2f42 0%,#c33a46 100%); /* Chrome10-25,Safari5.1-6 */
   background: linear-gradient(to bottom, #8c2f42 0%,#c33a46 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8c2f42', endColorstr='#c33a46',GradientType=0 ); /* IE6-9 */
}

.barMatches {
   margin-left: 0px !important;
   margin-right: 0px !important;
}

.barMatches .barMatchesContent {
   color: white;
   text-transform: uppercase;
   font-size: 26px;
   padding-top: 1em;
   padding-bottom: 1em;
   font-weight: bold;
}

.sectionTopHomeMatches {
   width: 100%;
   height: auto;
   box-sizing: border-box
}

.tabMatches {
   font-size: 14px;
}

.navTabsItemMatches {
   width: 100%;
}

.rowMatches1 {
   background-color: #a0a2a3;
   color: white;
   font-weight: bold;
   text-transform: uppercase;
   padding: .6em;
}

.rowMatches2 {
   background-color: #e1e3e7;
   color: #2c6293;
   font-weight: bold;
   text-transform: uppercase;
   padding: .6em;
}

.pt-0 {
   padding-top: 0px !important;
}

.itemRowMatches {
   margin-left: 0px;
   padding: .5em;
   font-size: 18px;
}

.datepickerPage {
   cursor: pointer;
}

.prependLeft {
   border-top-left-radius: 50%;
   border-bottom-left-radius: 50%;
   background-color: #154B75;
   border: 1px solid #154B75;
}

.prependRight {
   border-bottom-right-radius: 50% !important;
   border-top-right-radius: 50% !important;
   background-color: #154B75;
   border: 1px solid #154B75;
}

.fontLink {
   font-weight: bold;
   color: white;
}

.marginP {
   margin-top: .3em;
}

.fontP {
   color: white !important;
   text-align: justify;
}

.tableRow {
   padding: 10px;
}

.tableRes {
   width: 100% !important;
}

.tableTop {
   background-color: #397AA7;
   color: white;
   text-transform: uppercase;
   margin: 0px;
   font-weight: bold;
   border-bottom: 2px solid #535353;
}

.bottonThead {
   border-bottom: 2px solid #535353 !important;
   font-size: 14px;
}

.table th {
   border-top: 1px solid #397AA7;
}

.itemContentBook {
   border-bottom: 2px solid #535353;
   color: #214f74;
   font-weight: bold;
}

.tbodyBook {
   width: 200px;
   height: auto;
}

.btnTop {
   background-color: #214f74;
   border-color: #214f74;
}

.btn-primary:hover {
   color: #fff;
   background-color: #0069d9;
   border-color: #0062cc;
}

.comingSoon {
   background-color: black !important;
   font-size: 18px;
   font-weight: bold;
}

.comingSoonTop {
   color: white;
   text-align: center;
   border-bottom: 9px solid black !important;
}

.worldCup {
   background-color: #464444;
   text-align: center;
   color: white;
   border-bottom: 50px solid black !important;
}

.tableComing {
   padding-top: 0;
   border: 1px solid black !important;
}

.allTable td{
   border: 1px solid black !important;
   cursor: pointer;
}

.allTable th {
   border: 1px solid black !important;
   cursor: pointer;
}

.allTable tr {
   background-color: #707070 !important;
}

.allTable tr:nth-child(even) {
   background-color: #9f9e9e !important;
}

.allTable tr:nth-child(odd) {
   background-color: #fff;
}

.footerMore {
   border-top: 9px solid black;
}

.blackBack {
   background-color: black !important;
}

.colorCardNew {
   background-color: #282828;
}

.navTabsItemPicks {
   width: 100%;
}

.itemTabPicks {
   margin: 0px;
   padding: 1.2em;
   border-left: 3px solid #782236;
   font-weight: bold;
}

a:hover {
   text-decoration: none;
}

.topTablePicks {
   height: 3em;
}

.contentBarHeader {
   padding-top: 5%;
}

.inputOpacityTop {
   background: white;
   font-size: 1.3rem;
   border: none;
   padding: .2em;
   border-radius: 0px;
   opacity: 0.5;
   filter:  alpha(opacity=20);
}

.inputOpacity {
   background: white;
   color: grey;
   font-size: 1.3rem;
   border: none;
   padding: .2em;
   border-radius: 0px;
   opacity: 0.8;
   filter:  alpha(opacity=20);
}

.imageWeatherTop {
   background-image: url("img/elements/weather2.png");
   width: 100% !important;
   height: 100% !important;
   background-repeat: no-repeat;
}

.imageWeatherSub {
   background-image: url("img/elements/weather.png");
   width: 100%;
   height: 100%;
   background-repeat: no-repeat;
}

.paddingContainer {
   padding: 5em;
   vertical-align: middle;
}

.container-section-weather {
   width: 70% !important;
   justify-content: center;
}

.contentInfo {
   margin-left: 0px !important;
   margin-right: 0px !important;
}

.borderContent {
   border-bottom: 10px solid #323231;
}

.fontInfo {
   font-size: 18px;
}

.barPicks {
   padding: 1em;
}

.paddingCard {
   padding-bottom: 1em;
}

.container-section-login {
   width: 50% ;
   justify-content: center;
   padding-right: 0px;
   padding-left: 0px;
   font-size: 20px !important;
}

.inputLogin {
   background-color: #e1acb1;
}

.backInputLogin {
   background: #e1acb1;
  font-size: 18px;
   border: none;
   padding: 1.5em;
   border-radius: 0px;
   justify-content: center;
   width: 100%;
}

.textWhite {
   color: white;
   font-weight: bold;
}

.text-font {
   font-size: 24px !important;
}

.backInputLogin {
   background: #e1acb1;
   font-size: 18px;
   border: none;
   padding: 1.5em;
   border-radius: 0px;
   justify-content: center;
   width: 100%;
}

.centerDiv {
   text-align: center !important;
}

.textAlign {
   float: right !important;
}

.imgLogin {
   width: 180px;
   height: auto;
}

.paddingContainerLogin {
   padding: 5em;
}

.iconSocial {
   width: 40px;
   height: auto;
}

.colorContainerRegister {
   background-color: black;
}

.backInputRegister {
   background: #969696;
   font-size: 18px;
   border: none;
   padding: 1.5em;
   border-radius: 0px;
   justify-content: center;
   width: 100%;
}

.text-justify {
   text-align: justify;
}

.inputDateHoroscope {
   font-size: 30px;
   padding: .2em;
}

.fieldHoroscope {
   background-color: white !important;
   height: 40px;
   border-radius: 0px !important;
}

.paddingCardTop {
   margin-left: .5em;
   padding-top: 1.6em;
}

.labelTitleHoroscope {
   color: white;
   font-size: 20px;
   background-color: #db9ba2;
   border-radius: 20px;
   opacity: 0.8%;
   padding: .5em;
}

.paddingTopHoroscope {
   padding: 1.5em !important;
}

.backInputLottery {
   background: #e1acb1;
   font-size: 14px;
   border: none;
   padding: 1em;
   border-radius: 0px;
   justify-content: center;
   width: 100%;
   font-weight: bold;
}

.circleNumBack {
   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+15,d1d1d1+65,808181+100 */
   background: #ffffff; /* Old browsers */
   background: -moz-linear-gradient(top, #ffffff 15%, #d1d1d1 65%, #808181 100%); /* FF3.6-15 */
   background: -webkit-linear-gradient(top, #ffffff 15%,#d1d1d1 65%,#808181 100%); /* Chrome10-25,Safari5.1-6 */
   background: linear-gradient(to bottom, #ffffff 15%,#d1d1d1 65%,#808181 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#808181',GradientType=0 ); /* IE6-9 */
}


.circleNum {
   width: 3rem;
   height: 3rem;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   margin:0px auto;
}

.circleNum > h2 {
   font-family: sans-serif;
   color: black;
   padding-top: .3em;
   font-size: 1.5rem;
   font-weight: bold;
}

.backInputCelebrity {
   background: #cd828a;
   font-size: 14px;
   border: none;
   padding: 1.5em;
   border-radius: 0px;
   justify-content: center;
   width: 100%;
}

.backInputCelebrityTop {
   background: #636363;
   font-size: 14px;
   border: none;
   padding: 1.5em;
   border-radius: 0px;
   justify-content: center;
   width: 100%;
}

.marginLeft {
   padding-left: 3em;
}

.nivelBar {
   padding-left: 0px !important;
   padding-right: 0px !important;
}

.canadaTitle {
   padding-left: .5em;
   color: white;
   text-transform: uppercase;
   font-size: 34px;
   font-weight: bold;
}

.imageLogoCasino {
   width: 130px ;
   height: auto;
}

.itemContentBank {
   border-bottom: 1px solid white;
   color: #214f74;
   color: white;
}

.itemContentBookThead {
   border-top: none !important;
   color: white;
   font-weight: bold;
   border-bottom: none !important;
}

.tableBanking td, .tableBanking th {

   border-top: none !important;

}

.borderBottomBank {
   border-bottom: 3px solid #2f302f;
}

.logoPay {
   width: 25% !important;
   height: auto;
}

.paddingContainerWeather {
    padding: 5em;
    vertical-align: middle;
 }

.contentLogin {
   padding-right: 0%
}

.contentHeader {
  justify-content: center;
}

.buttonCasino {
   width: 180px;
}

.imageLinkBook {
   width: 40px !important;
   height: auto;
}

.itemTabPicksBlue {
   margin: 0px;
   padding: 1em;
   border-left: 3px solid #183d63;
   font-weight: bold;
   /*margin-right: .5em;*/
}

.table-responsive {
   background-color: transparent !important;
}